**/target
**/xcuserdata/
**/*.xcworkspace/
**/cmioslayer-ios/*/build
**/cmioslayer-ios/cache/
**/.gradle/
cmdist/crossmobile-gradle-plugin/build
cmioslayer/gen/lib
.idea/
.vscode/
*.iml
/.project

avian-dependencies/aroma-cygwin-linker/
avian-dependencies/aroma-ld-linker.tar.bz2
avian-dependencies/aroma-ld-linker/
