[submodule "cmmanager"]
	path = cmmanager
	url = https://github.com/Aroma-UI/cmmanager
[submodule "cmbuild"]
	path = cmbuild
	url = https://github.com/Aroma-UI/cmbuild
	branch = aroma
[submodule "SDL"]
	path = avian-dependencies/SDL
	url = https://github.com/Aroma-UI/SDL.git
[submodule "skia"]
	path = avian-dependencies/skia
	url = https://github.com/Aroma-UI/skia.git
    branch = chrome/m87
[submodule "avian"]
	path = avian-dependencies/avian
	url = https://github.com/Aroma-UI/avian.git
	branch = master
[submodule "depot_tools"]
	path = avian-dependencies/depot_tools
	url = https://chromium.googlesource.com/chromium/tools/depot_tools.git

